.logo {
  width: 110px;
  height: auto;
}
.nav-item {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  padding: 10px 15px 5px 15px;
}
.login-button {
  background-color: #ffffff;
  border-color: #f4633b;
  color: #f4633b;
  width: 120px;
  height: 40px;
}
.login-button:hover {
  background-color: #f4633b;
}
.signup-button {
  background-color: #f4633b;
  border-color: #f4633b;
  color: "black";
  width: 120px;
  height: 40px;
}
.signup-button:hover {
  border-color: #f4633b;
  background-color: white;
  color: #f4633b;
}
.dropdown-menu {
  background-color: #f6c06a;
  width: 200px;
  border-color: #f6c06a;
}
.dropdown-item:hover {
  background-color: #f0cd95;
}
@media (max-width: 1250px) {
  .logo {
    width: 100px;
    height: auto;
  }
  .nav-item {
    font-size: 20px;
    padding: 3px 5px 5px 5px;
  }
  .login-button {
    font-size: 18px;
    width: 100px;
  }
  .signup-button {
    width: 100px;
  }
}

@media (max-width: 992px) {
  .logo {
    width: 90px;
    height: auto;
  }
  .nav-item {
    font-size: 19px;
    text-align: center;
  }
  .nav-item:hover {
    background-color: #f0cd95;
  }
  .login-button {
    font-size: 18px;
    width: 90px;
  }
  .signup-button {
    width: 90px;
  }
  .dropdown-menu {
    background-color: #f6c06a;
    border-color: #f6c06a;
    width: 100%;
    text-align: center;
  }
  .dropdown-item:hover {
    background-color: #f0cd95;
  }
}
@media (max-width: 767.98px) {
  .logo {
    width: 80px;
    height: auto;
    padding-bottom: 20px;
  }
  .nav-item {
    font-size: 18px;
    text-align: center;
  }
  .nav-item:hover {
    background-color: #f0cd95;
  }
  .login-button {
    font-size: 18px;
    width: 90px;
  }
  .signup-button {
    width: 90px;
  }
  .dropdown-menu {
    background-color: #f6c06a;
    border-color: #f6c06a;
    width: 100%;
    text-align: center;
  }
  .dropdown-item:hover {
    background-color: #f0cd95;
  }
}
