ul {
  list-style-type: none;
}
li {
  font-size: 21px;
  margin-top: 10px;
}
.socialmedia {
  padding: 0pc 10px 0px 10px;
  color: black;
}
@media (max-width: 992px) {
  li {
    font-size: 19px;
    margin-top: 10px;
  }
}

@media (max-width: 767.98px) {
  li {
    font-size: 19px;
    margin-top: 10px;
    text-align: center;
  }
}
